<h1 class="ui header">
  <i class="icon user"></i>
  ID: <%= @current_user.session_str %>
</h1>

<div class="ui message info">
  Please save the URL below. You can re-use this session with the URL.
  <h3 style='padding: 1em;'>
    <%=link_to @url, @url %>
  </h3>
</div>

<%=form_tag("/users/sendmail", class: "ui form" ) do %>
  <div class="inline field">
    <input type="email" name="email" placeholder="Enter your email address" size="30">
    <button class="ui button primary">
      <i class="icon mail"></i>
      Send me the URL above
    </button>
  </div>
<% end %>